<!-- Connection String -->
<connectionStrings>
  <!-- SQL -->
  <add name="DBnickName" connectionString="Data Source=1.1.1.1\SQLInstanceName; Database=DBname; persist security info=True; User Id=username; Password=password;" providerName="System.Data.SqlClient" />
  <!-- OLEDB -->
  <add name="DBnickName" connectionString="Provider=SQLOLEDB;Server=1.1.1.1\SQLInstanceName;Database=DBName;User Id=username;Password=password" providerName="System.Data.SqlClient" />
</connectionStrings>
